databases:
  - name: student-db
    databaseName: student_db
    user: postgres
    plan: free # Render Free Tier for Postgres

services:
  - type: web
    name: fastapi-backend
    runtime: docker
    region: singapore
    plan: free
    rootDir: .
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: DATABASE_URL
        fromDatabase:
          name: student-db
          property: connectionString
